{% extends 'base.html' %}
{% block content %}

<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
  {% load static %}
  <link href="{% static 'style_story3.css' %}" type="text/css" rel="stylesheet"/>

  <title>Create Portfolio</title>
  </head>

  <body>
    <div class = "container webnya">
      <div class="row">
        <div class="col-sm-4 image overlay">
          <div class="judul-signup">Create Portfolio.</div>
          <div class="little-signup">Submit portfolio through form.</div>
        </div>
        <div class="col-sm-8">
          <div class="row">
          <div class="col-sm"> 
            <br><br><br><br><br>
            <form action="#" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <p>{{ field.label_tag }} {{ field }}</p>
                {% endfor %}
                <button type="submit" class="btn btn-primary">SUBMIT</button>
            </form>
          </div>
        </div>
      </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>