{% extends 'base.html' %}
{% block content %}

<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
  {% load static %}
  <link href="{% static 'style_story3.css' %}" type="text/css" rel="stylesheet"/>

  <title>Portfolio List</title>
  </head>

  <body>
    <div class = "container webnya">
      <div class="row">
        <div class="col-sm-4 image overlay">
          <div class="judul-signup" style="left: 20%">Portfolio List.</div>
          <div class="little-signup">See portfolio list.</div>
        </div>
        <div class="col-sm-8">
          <div class="row">
          <div class="col-sm"> 
            <br><br><br><br><br>
            
            <table style="width:100%">
                {% if portfolios %}
                    <tr>
                        <th>Judul</th>
                        <th>Tanggal Mulai - Tanggal Selesai</th>
                        <th>Deskripsi Singkat Proyek</th>
                        <th>Tempat</th>
                        <th>Kategori Proyek</th>
                    </tr>
                    {% for portfolio in portfolios %}
                        <tr>
                            <td>{{ portfolio.title }}</td>
                            <td>{{ portfolio.date_start }} - {{ portfolio.date_end }}</td> 
                            <td>{{ portfolio.desc }}</td>
                            <td>{{ portfolio.place }}</td>
                            <td>{{ portfolio.category }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <h5>Belum ada Portfolio</h5> 
                {% endif %}
            </table>

          <div class="col-sm-11 col-centered">
            <a href="{% url 'story5app:delete_portfolio' %}" class="btn btn-danger" role="button" aria-pressed="true">DELETE LIST</a>
          </div>

          </div>
        </div>
      </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>