{% extends 'base.html' %}
{% block content %}

<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
  {% load static %}
  <link href="{% static 'style_story3.css' %}" type="text/css" rel="stylesheet"/>

  <title>Khameela's Playlist</title>
  </head>

  <body>
    <div class = "container webnya">
      <div class="row">
        <div class="col-sm-4 image overlay">
          <div class="judul-pl">Playlist.
          </div>
          <div class="little-pl">Mela loves to listening to good musics. Here are some of her reccomendations.
          </div>
        </div>
        <div class="col-sm-8">
          <div class="row">
          <div class="col-sm"> 
            <br>
            <div class="song-title">Finding Hope - More & More</div>
            <div class="song-desc">If you want to hear a very easy listening acoustic song, then this song is for you. It's very rich with the harmonisation of the acoustic guitar that you'll hear throughout the song. Lyric-wise is very simple yet very straightforward. Such a gem.</div>
            <br>
            <div class="link-song">
              <a href="https://www.youtube.com/watch?v=ZSSyl6wqWYM">Listen to it on YouTube.</a>
            </div>
            <br>
            <div class="song-title">Jimin of BTS - 약속 (Promise)</div>
            <div class="song-desc">Another acoustic song but this time from the singer that I'm really familiar of. Jimin of BTS released this song on December last year. It's a really sweet song with such a sweet meaning. The lyrics tell you to 'promise me you don't throw yourself away even if you're feel all alone, you still have me' kind of thing. Not to mention Jimin's sweet voice made this song even more complete.</div>
            <br>
            <div class="link-song">
              <a href="https://soundcloud.com/bangtan/firstjiminpresent">Listen to it on Soundcloud.</a>
            </div>
            <br>
            <div class="song-title">Rita Ora - Velvet Rope</div>
            <div class="song-desc">I've just discovered the song! This song came from her 2018 album, Phoenix, alongside with her hits such as 'Anywhere' and 'Let You Love Me'. Unlike those other two songs, Velvet Rope have a very chill tune. Really worth to listen.</div>
            <br>
            <div class="link-song">
              <a href="https://open.spotify.com/track/5S5xmV52bqwZ8bkBCyAAdy?si=kKRBQzt_Qz6ys822UHm5JA">Listen to it on Spotify.</a>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    
    {% endblock %}
  </body>
</html>