<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Rubik:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
  {% load static %}
  <link href="{% static 'style_story3.css' %}" type="text/css" rel="stylesheet"/>
  </head>

  <body>
    <!-- Footer -->
    <footer class="page-footer font-small" style="color: #0E1C36">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          <a href="https://web-mela.herokuapp.com" style="color: #3D348B"> Khameela Rahmah</a>
          <br>
          {{ date }}
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
</body>
</html>