{% extends 'base.html' %}
{% block content %}

<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
  {% load static %}
  <link href="{% static 'style_story3.css' %}" type="text/css" rel="stylesheet"/>

  <title>Be a Regular Member</title>
  </head>

  <body>
    <div class = "container webnya">
      <div class="row">
        <div class="col-sm-4 image overlay">
          <div class="judul-signup">Sign Yourself Up.</div>
          <div class="little-signup">Connect to Mela's website as a regular member.</div>
        </div>
        <div class="col-sm-8">
          <div class="row">
          <div class="col-sm"> 
            <br><br><br><br><br>
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email@example.com">
                <small id="emailHelp" class="form-text text-muted">I'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputUsername1">Username</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Username">
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class="wrapper">
                <button type="submit" class="btn btn-primary">SIGN ME UP</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>