{% extends 'base.html' %}
{% block content %}

<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
  {% load static %}
  <link href="{% static 'style_story3.css' %}" type="text/css" rel="stylesheet"/>

  <title>Khameela's Profile</title>
  </head>

  <body>
  	<div class = "container webnya">
      <div class="row">
        <div class="col-sm-4 image overlay">
          <img class="profile" src="http://mela-ppw.herokuapp.com/foto.png">
          <div class="judul">Khameela Rahmah.</div>
          <div class="little-desc">
            <ul style="list-style-type:none;">
              <li>19 yo.</li>
              <li>Student.</li>
              <li>Scorpion.</li>
              <li>INFP.</li>
            </ul> 
          </div>
        </div>
        <div class="col-sm-8">
          <div class="row">
          <div class="col-sm-11">
            <br>
            <div class="judul-desc">A little more about myself</div>
            <div class="desc">Her friends and family called her Mela. Was born in Jakarta on October 26, 1999. The 2nd child in the family. Currently studying at Fasilkom Universitas Indonesia. Like Japanese Vibes and wish someday could go there. Like listening to good musics and watch good movies.</div>
          </div>
          <div class="col-sm-11">
            <br>
            <div class = "judul-desc">Experiences</div>
            <div class = "desc">
              <dl>
                <dt>Biro Media BEM Fasilkom UI</dt>
                <dt>Divisi Dekorasi CGT 2018</dt>
                <dt>Divisi Press COMPFEST X</dt>
                <dt>Divisi HPK PMB 2018</dt>
                <dt>Divisi Kreatif Wisgan 2019 </dt>
              </dl> 
            </div>
          </div>
            <div class="col-sm">
              <div class="judul-desc">Educations</div>
              <div class="desc">
                <dl>
                  <dt>Universitas Indonesia</dt>
                  <dt>SMAN 39 Jakarta</dt>
                  <dt>SMPN 49 Jakarta</dt>
                  <dt>SDN Dukuh 09 Pagi</dt>
                </dl> 
              </div>
            </div>
              <div class="col-sm">
              	<div class="container">
              		<div class="judul-desc">Skills</div>
              		<div class="desc">Digital Design</div>
              		<div class="progress">
              			<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%; background-color: #0E1C36;">80%</div>
              		</div>
              		<br>
              		<div class="desc">Digital Writing</div>
              		<div class="progress">
              			<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%; background-color: #0E1C36;">70%</div>
              		</div>
              	</div>
              </div>
              <div class="col-sm-11 col-centered">
              	<br>
          		<a href="https://twitter.com/melarhmh"> <img alt="to twitter" src="https://saltncookies.files.wordpress.com/2019/02/twitter-logo-button.png?w=400&h=401&zoom=2" style="width: 50px; height: 50px"></a>
              	<a href="mailto:khameelarahmah@example.com"> <img alt="send an email" src="https://saltncookies.files.wordpress.com/2019/02/closed-envelope-circle.png?w=401&h=401&crop=1&zoom=2" style="width: 50px; height: 50px"></a>
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock %}
</body>
</html>