html, body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #AFCBFF;
}

.webnya {
  margin-top: 3%;
  background: #F9FBF2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
}
.col-sm-4 {
  width: 366px;
  height: 599px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  color:white;
  border-radius: 40px 0px 0px 40px;
}

.image {
  background-image: url(https://saltncookies.files.wordpress.com/2019/02/japan-resize.jpeg);
  border-radius: 40px 0px 0px 40px;
}

.overlay:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  z-index:0;
  background-color: rgba(14, 28, 54, 0.7);
  border-radius: 40px 0px 0px 40px;
}

.profile {
  position: absolute;
  width: 210px;
  height: 210px;
  max-width: 100%;
  height: auto;
  top: 25%;
  left: 20%;
}
.judul {
  position: absolute;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 28px;
  text-align: center;
  color: #FFEDE1;
  top: 20%;
  left: 15%;
}
.little-desc {
  position: absolute;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  text-align: center;
  color: #FFEDE1;
  top: 60%;
  left: 28%;
}
.judul-pl{
  position: absolute;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 48px;
  text-align: center;
  color: #FFEDE1;
  top: 35%;
  left: 25%;
}

.little-pl {
  position: absolute;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 18px;
  text-align: center;
  color: #FFEDE1;
  top: 45%;
  left: 15%;
  right: 15%;
}
.judul-signup{
  position: absolute;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 32px;
  text-align: center;
  color: #FFEDE1;
  top: 38%;
  left: 15%;
}

.little-signup {
  position: absolute;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 18px;
  text-align: center;
  color: #FFEDE1;
  top: 45%;
  left: 15%;
  right: 15%;
}

.judul-desc {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 28px;
  color: #0E1C36;
}

.desc {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 20px;
  text-align: justify;
  color: #3D348B;
}

.song-title {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 36px;
  text-align: center;
  color: #0E1C36;
}

.song-desc {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 18px;
  text-align: justify;
  color: #3D348B;
}

.link-song {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 18px;
  text-align: center;
  color: #3D348B;
}

.progress {
  border: 1px solid #0E1C36;
  font-family: Karla;
  background-color: #F9FBF2;
}

.col-centered{
	left: 35%;
}

.navbar {
	background: #0E1C36;
}

.navbar-nav {
	font-family: Rubik;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 15px;
}

.form-group {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 25px;
  color: #3D348B;
  text-align: center;
}

.btn {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 20px;
  background-color: #0E1C36;
  left: 35%;
}

.wrapper {
  text-align: center;
}